meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="title" content=metaTitle ? metaTitle : "Freemius")
meta(name="description" content=metaDescription ? metaDescription : "Freemius")

link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#20133e")
meta(name="theme-color", content="#20133e")

link(rel='stylesheet', href='/css/app.css')

