doctype html
html(lang='en')
  block vars
  head
    meta(name="version", content="1.0.0")
    title #{title}
    block head
      include head

  body(class= bodyClass)
    block noscript
      include noscript

    // block navigation
    //   include navigation

    block content

    // block footer
    //  include footer

  block scripts
    include scripts
