*{box-sizing:border-box}html{color:#000;font-size:10px}body{font:sans-serif;margin:0;font-smoothing:antialiased;tap-highlight-color:transparent}body.fixed{overflow:hidden}body.fixed.client-ios{position:fixed;height:100%;width:100%}body{padding:80px;display:flex;align-items:center;justify-content:center}
