$fonts-root: '../fonts/'

// http://www.font2web.com/
@mixin add-font ($name, $path, $style, $weight)
	@font-face
		font-family: $name
		src: url($fonts-root + $path + ".eot")
		src: url($fonts-root + $path + ".eot?#iefix")format("embedded-opentype"), url($fonts-root + $path + ".woff") format("woff"), url($fonts-root + $path + ".ttf") format("truetype")
		font-style: $style
		font-weight: $weight

// @include add-font ("Poppins", "Poppins-ExtraLight", normal, 100)
// @include add-font ("Poppins", "Poppins-Light", normal, 300)
// @include add-font ("Poppins", "Poppins-Regular", normal, 400)
// @include add-font ("Poppins", "Poppins-Medium", normal, 500)
// @include add-font ("Poppins", "Poppins-SemiBold", normal, 600)
// @include add-font ("Poppins", "Poppins-Bold", normal, 700)
