*
  box-sizing: border-box

html
  color: #000
  font-size: 10px

body
  font: sans-serif
  margin: 0
  font-smoothing: antialiased
  tap-highlight-color: transparent

  &.fixed
    overflow: hidden

    &.client-ios
      position: fixed
      height: 100%
      width: 100%
